<div>
  <label for="people-search">Search</label>
  <input id="people-search" type="text" [(ngModel)]="pattern">
</div>

<div *ngIf="users">
  <div *ngIf="travelplan">
    <div *ngFor="let user of users | search:'firstName':pattern; let i= index;">
      <p>{{ user.firstName }} {{ user.lastName }} <button (click)="pushTheUser(travelplan._id, user)">Add</button></p>
    </div>

    <h3>Added friends</h3>
    <li *ngFor="let oneUser of travelplan.travelFriends">
      <span>{{ oneUser.firstName }}</span>
      <span>{{ oneUser.lastName }}</span>
    </li>
  </div>
</div>
