<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/dashboard"></a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class=" active ">
                        <a [routerLink]='["/pages/register"]'>
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class="">
                        <a [routerLink]='["/pages/login"]'>
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page register-page" filter-color="black" data-image="../assets/img/register.jpeg">
        <div class="container" style="height:500px;">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Register</h2>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="card-content">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Make the plan</h4>
                                            <p class="description">
                                                Good plan is half way done work. We'll make it easy for you.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Plan with others.</h4>
                                            <p class="description">
                                                Know with who, when and where. That's important.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="social text-center">
                                    <button class="btn btn-just-icon btn-round btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-facebook">
                                        <i class="fa fa-facebook"> </i>
                                    </button>
                                </div>

                                <p class="error" *ngIf="errorMessage">
                                  {{ errorMessage }}
                                </p>

                                <form class="form" (ngSubmit)="submitSignup()">
                                    <div class="card-content">
                                        <div class="input-group">

                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <input id="first-name-input" type="text" [(ngModel)]="newUser.signupFirstName" name="signupFirstName" class="form-control" placeholder="First Name...">
                                        </div>
                                        <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">verified_user</i>
                                          </span>
                                          <input id="last-name-input" type="text" [(ngModel)]="newUser.signupLastName" name="signupLastName" class="form-control" placeholder="Last Name...">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <input id="email-input" type="email" [(ngModel)]="newUser.signupEmail" name="signupEmail" class="form-control" placeholder="Email...">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <input id="password-input" type="password" [(ngModel)]="newUser.signupPassword" name="signupPassword" placeholder="Password..." class="form-control" />
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                                                <a href="#something">terms and conditions</a>.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-primary btn-round">Get Started</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}
                    <a href="https://whats-the-plan.herokuapp.com/">WhatsNext</a> made with love in Ironhack
                </p>
            </div>
        </footer>
    </div>
</div>
