<style>
 div{
  color: red;
}

#map {
  /*overflow: scroll !important;*/
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  -moz-box-sizing: border-box;
  outline: none;
  background-color: #fff;
  font-family: inherit;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 10px 11px;
}

.pac-controls label {
  font-family: inherit;
  font-size: 13px;
  font-weight: 300;
  padding-left: 5px;
}

#pac-input {
  background-color: #fff;
  text-overflow: ellipsis;
  /*width: 400px;*/
}

#pac-input:focus {
  border-color: #4d90fe;
}

</style>

<!-- MAP DIV -->
<div class="row" id="map"></div>
<!-- / MAP DIV -->
<br><br>

<!-- ADDDED -->
<div class="row">
    <div class="col-md-12">
        <div class="nav-center">
            <ul class="nav nav-pills nav-pills-danger nav-pills-icons" role="tablist">
                <li>
                    <a href="#description-1" role="tab" data-toggle="tab">
                        <i class="material-icons">info</i> Search
                    </a>
                </li>
                <li class="active">
                    <a href="#schedule-1" role="tab" data-toggle="tab">
                        <i class="material-icons">location_on</i> Location
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="description-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Save the spots in <span style="color:orange; font-weight: bold;">{{travelplan.city | capitalize }} </span> </h4>
                    </div>
                    <div class="card-content pac-card" id="pac-card">
                      <div>
                          <div class="col-md-12 pac-controls" id="type-selector" style="margin-left:200px;">
                            <input type="radio" name="type" id="changetype-all" checked="checked">
                            <label for="changetype-all">All</label>
                            <input type="radio" name="type" id="changetype-establishment">
                            <label for="changetype-establishment">Establishments</label>
                            <input type="radio" name="type" id="changetype-address">
                            <label for="changetype-address">Addresses</label>
                          </div>
                          <div id="pac-container">
                            <form  (ngSubmit)="submitLocation(travelplan._id, myForm2)" #myForm2="ngForm" class="form-horizontal">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tp-name-input"></label>
                                        <input id="tp-name-input" type="text" placeholder="Enter the name" [(ngModel)]="formAttrName" name="formAttrName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pac-input"></label>
                                        <input id="pac-input" type="text" placeholder="Enter a location" name="formInputAddReal" class="form-control" required>
                                    </div>
                                </div>
                                <label for="tp-about-input"></label>
                                <textarea id="tp-about-input" placeholder="About this attraction" [(ngModel)]="formAttrAbout" name="formAttrAbout" rows="2" class="form-control"></textarea>
                            <!-- <input id="pac-input" type="text" placeholder="Enter the name" [(ngModel)]="formAttrName" name="formAttrName"> -->
                            <!-- <input id="pac-input" type="text" placeholder="Enter a location" name="formInputAddReal"> -->
                            <!-- <input id="pac-input" type="text" placeholder="Enter the city" [(ngModel)]="formAttrCity" name="formAttrCity"> -->
                            <!-- <input id="pac-input" type="text" placeholder="Enter the country" [(ngModel)]="formAttrCountry" name="formAttrCountry"> -->
                            <!-- <textarea id="pac-input" placeholder="About this attraction" [(ngModel)]="formAttrAbout" name="formAttrAbout" rows="2"></textarea> -->
                            <button type="submit" name="button" class="btn btn-fill btn-wd btn-warning pull-right">Add attraction</button>
                            </form>
                            </div>
                              <div id="infowindow-content">
                                <img src="" width="16" height="16" id="place-icon">
                                <span id="place-name"  class="title"></span><br>
                                <span id="place-address"></span>
                              </div>
                            <!-- </div> -->
                      </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="schedule-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Locations</h4>
                    </div>
                    <div class="card-content">
                          <div *ngFor="let oneTourAttr of travelplan.tourAttractions">
                            <h4>{{ oneTourAttr.name }}</h4>
                            <p><em><i class="fa fa-map-marker" aria-hidden="true"></i>{{ oneTourAttr.address }}</em></p>
                            <p>{{ oneTourAttr.about }}</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- / ADDED -->

<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuErDWxWud1Z7NLJgy0R5M2HmF6wlImcE&libraries=places" async defer></script> -->
