<style media="screen">
a:visited
{
  color:black;
}
</style>

<div class="main-content">
    <div class="container-fluid">

<!-- added -->
<h6><a [routerLink]="['/travelplans']"><strong>My travel plans</strong></a></h6>
<hr>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-product">
          <div class="card-image" data-header-animation="true">
              <a href="#">
                  <img class="img" src="../assets/img/blog01.jpg">
              </a>
          </div>
          <div class="card-content">
              <div class="card-actions">
                  <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                      <i class="material-icons">build</i> Fix Header!
                  </button>
                  <a href="#" type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                      <i class="material-icons">art_track</i>
                  </a>
                  <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                      <i class="material-icons">edit</i>
                  </button>
              </div>
              <h4 class="card-title">Getaway!</h4>
              <div class="card-description">
                  08.08.2017 - 08.18.2017
              </div>
          </div>
          <div class="card-footer">
              <div class="stats pull-right">
                <p class="category"><i class="material-icons">place</i> Vancouver, Canada</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6">
      <div class="card card-product">
          <div class="card-image" data-header-animation="true">
              <a href="#">
                  <img class="img" src="../assets/img/card-1.jpeg">
              </a>
          </div>
          <div class="card-content">
              <div class="card-actions">
                  <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                      <i class="material-icons">build</i> Fix Header!
                  </button>
                  <a href="#" type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                      <i class="material-icons">art_track</i>
                  </a>
                  <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                      <i class="material-icons">edit</i>
                  </button>
              </div>
              <h4 class="card-title">Some Nature Please!</h4>
              <div class="card-description">
                  12.12.2017 - 12.20.2017
              </div>
          </div>
          <div class="card-footer">
              <div class="stats pull-right">
                <p class="category"><i class="material-icons">place</i> Rhine, Switzerland</p>
              </div>
          </div>
      </div>
    </div>

  <div class="col-lg-4 col-md-6">
        <div class="card card-product">
            <div class="card-image" data-header-animation="true">
                <a href="#">
                    <img class="img" src="../assets/img/card-2.jpeg">
                </a>
            </div>
            <div class="card-content">
                <div class="card-actions">
                    <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                        <i class="material-icons">build</i> Fix Header!
                    </button>
                    <a href="#" type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                        <i class="material-icons">art_track</i>
                    </a>
                    <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
                <h4 class="card-title">Lovely Nice</h4>
                <div class="card-description">
                    08.08.2017 - 08.18.2017
                </div>
            </div>
            <div class="card-footer">
                <div class="stats pull-right">
                  <p class="category"><i class="material-icons">place</i> Nice, France</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- added -->
<h6><a [routerLink]="['/travelplans']"><strong>My other plans</strong></a></h6>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-product">
          <div class="card-image" data-header-animation="true">
              <a href="#">
                  <img class="img" src="../assets/img/card-3.jpeg">
              </a>
          </div>
          <div class="card-content">
              <div class="card-actions">
                  <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                      <i class="material-icons">build</i> Fix Header!
                  </button>
                  <a href="#" type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                      <i class="material-icons">art_track</i>
                  </a>
                  <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                      <i class="material-icons">edit</i>
                  </button>
              </div>
              <h4 class="card-title">Meeting with boss at SoHo</h4>
              <div class="card-description">
                  08.08.2017 - 08.18.2017
              </div>
          </div>
          <div class="card-footer">
              <div class="stats pull-right">
                <p class="category"><i class="material-icons">place</i> NYC, NY</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6">
      <div class="card card-product">
          <div class="card-image" data-header-animation="true">
              <a href="#">
                  <img class="img" src="../assets/img/card-1.jpeg">
              </a>
          </div>
          <div class="card-content">
              <div class="card-actions">
                  <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                      <i class="material-icons">build</i> Fix Header!
                  </button>
                  <a href="#" type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                      <i class="material-icons">art_track</i>
                  </a>
                  <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                      <i class="material-icons">edit</i>
                  </button>
              </div>
              <h4 class="card-title">Family reunion</h4>
              <div class="card-description">
                  12.12.2017 - 12.20.2017
              </div>
          </div>
          <div class="card-footer">
              <div class="stats pull-right">
                <p class="category"><i class="material-icons">place</i> Mostar, Bosnia</p>
              </div>
          </div>
      </div>
    </div>

  <div class="col-lg-4 col-md-6">
        <div class="card card-product">
            <div class="card-image" data-header-animation="true">
                <a href="#">
                    <img class="img" src="../assets/img/card-3.jpeg">
                </a>
            </div>
            <div class="card-content">
                <div class="card-actions">
                    <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                        <i class="material-icons">build</i> Fix Header!
                    </button>
                    <a href="#" type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                        <i class="material-icons">art_track</i>
                    </a>
                    <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
                <h4 class="card-title">Meeting with Ana</h4>
                <div class="card-description">
                    08.08.2017 - 08.18.2017
                </div>
            </div>
            <div class="card-footer">
                <div class="stats pull-right">
                  <p class="category"><i class="material-icons">place</i> Miami Beach, FL</p>
                </div>
            </div>
        </div>
    </div>
  </div>
        <div class="row">
            <div class="col-md-12 card-content">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">language</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">What's your next plan?</h4>
                        <div class="row">
                            <div class="col-md-5">
                                <h6> <span style="color:orange;">Your notes go here.</span> </h6>
                            </div>
                            <div class="col-md-6 col-md-offset-1">
                                <div id="worldMap" class="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
