<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Edit Profile -
                            <small class="category">Complete your profile</small>
                        </h4>
                        <form (ngSubmit)="updateUser(myForm)" #myForm="ngForm">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group label-floating">
                                      <label for="first-name-input" class="control-label">Fist Name</label>
                                      <input id="first-name-input" type="text" [(ngModel)]="formFirstName" name="formFirstName" class="form-control" value="{{ user.firstName }}" required>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group label-floating">
                                      <label for="last-name-input" class="control-label">Last Name</label>
                                      <input id="last-name-input" type="text" [(ngModel)]="formLastName" name="formLastName" class="form-control" value="{{ user.lastName }}" required>
                                  </div>
                              </div>
                          </div>
                            <div class="row">
                                <div class="col-md-6">
                                      <div class="form-group label-floating">
                                          <label for="email-input">Email address</label>
                                          <input id="email-input" type="email" [(ngModel)]="formEmail" name="formEmail" class="form-control" value="{{ user.email }}">
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label for="dob-input">Date of Birth</label>
                                        <input id="dob-input" type="date" [(ngModel)]="formDob" name="formDob" class="form-control" value="{{ user.dob }}">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                              <br><br>
                              <div class="col-md-6">
                                  <div class="form-group label-floating">
                                      <label for="profession-input" class="control-label">Profession</label>
                                      <input id="profession-input" type="text" [(ngModel)]="formProfession" name="formProfession" class="form-control" value="{{ user.profession }}">
                                  </div>
                              </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                      <label>Gender</label>
                                      <div style="display:inline" class="radio" *ngFor="let gender of gender">
                                        <label for="gender-input">
                                          <input id="gender-input" type="radio" [(ngModel)]="user.gender" name="formGender" [value]="[gender.value]">
                                          {{ gender.display }}
                                        </label>
                                      </div>
                                      <!-- <select [(ngModel)]="formGender" name="formGender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                      </select> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Fav Quote:</label>
                                        <div class="form-group label-floating">
                                            <!-- <label for="fav-input" class="control-label"></label> -->
                                            <textarea id="fav-input" class="form-control" [(ngModel)]="formFav" name="formFav" rows="5">value="{{ user.fav }}"</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About myself here:</label>
                                        <div class="form-group label-floating">
                                            <label for="about-input" class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea id="about-input" class="form-control" [(ngModel)]="formAbout" name="formAbout" rows="5">value="{{ user.about }}"</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
<!-- //============================ -->
<form>
    <div class="col-md-4">
      <div class="card">
        <div class="card-avatar">
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-new thumbnail img-circle">
                    <img src="../../assets/img/placeholder.jpg" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                <div>
                    <span class="btn btn-round btn-rose btn-file">
                        <span class="fileinput-new">Add Photo</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="file" id="file" />
                    </span>
                    <button (click)="submit()" class="btn btn-round btn-rose btn-file">Submit</button>
                    <br />
                    <span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                    </span>
                </div>
            </div>
          </div>
        </div>
    </div>
</form>
<!-- //======================= -->



            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-content">
                        <h6 class="category text-gray">Upload photo</h6>
                        <h4 class="card-title">{{ formFirstName }} {{ formLastName }}</h4>
                        <p class="description">
                        {{ formAbout }}
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
